{% extends 'blog/base.html' %}

    {% block content %}

        <div class="col-sm-6 col-sm-offset-3 ">

            <h1>
                Confirm Delete
            </h1>

            <form method="POST" action=".">{% csrf_token %}

                <p style="font-size: large" align="justify">Are you sure you want to delete <br> the post titled </p>
                <p style="font-size: x-large"> " {{object.title}} " ?</p>
                <input type="submit" value="Confirm" class="btn btn-warning">
                <a href="{% url 'post_detail' pk=object.pk %}" class="btn btn-default">
                    Cancel
                </a>

            </form>

        </div>


    {% endblock %}