{% extends 'blog/base.html' %}
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet"
              integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">

{% block content %}
            {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                        <li {% if message.tags %} class="{{message.tags}}" {% endif %}>
                            {{message}}
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}

            <div class="post">
                {% if user.is_authenticated %}
                    <a class="btn btn-default" href="{% url 'post_edit' pk=post.pk %}">
                        Edit post
                            <span class="glyphicon glyphicon-edit"></span>
                    </a>

                    <a class="btn btn-default" href="{% url 'confirm_post_delete' pk=post.pk %}">
                        Delete post
                            <span class="glyphicon glyphicon-remove"></span>
                    </a>
                {% endif %}

                <h1>{{ post.title }}</h1>

                <p class="vtimefield">
                    Total words:{{post.word_count}} words <br>
                    Read time: {{post.read_time}} minutes
                </p>

                {% if post.image %}
                    <div class="det_pic">
                        <img src="{{ post.image.url }}" class="img-responsive" alt="{{post.title}}" height="600" width="800"/>
                    </div>
                {% endif %}

                <br>
                <p align="justify">{{ post.text }}</p>


                  {% if post.published_date %}
                    <div class="date">
                        <p>Published on:

                        {{ post.published_date }}
                            </p>
                    </div>
                        <br>
                        <a class="btn btn-default" href="{% url 'add_comment' pk=post.pk %}">
                            Comment
                            <i class="fa fa-comment-2x"></i>
                        </a>

                <hr>
            </div>


        <h4 id="view_comment"><strong>Comments:</strong></h4><br>


        {% for comment in post.comments.all %}<br>
            {% if user.is_authenticated or comment.approved_comment %}
                <strong>{{ comment.author }}</strong>
                    <p>{{ comment.comment|linebreaks }}</p>

                    <div class="date">

                         - {{comment.timestamp|timesince}} ago
                    </div>

                <div class="cmnts-right pull-right btn-margin">
                     {% if user.is_authenticated %}
                        <a href="{% url 'comment_remove' pk=comment.pk %}">
                            <span class="glyphicon glyphicon-remove"></span>
                                Delete
                        </a>&nbsp;
                     {% endif %}
                     {% if not comment.approved_comment %}
                        <a href="{% url 'comment_approve' pk=comment.pk %}">
                            <span class="glyphicon glyphicon-ok"></span>
                                Approve
                        </a>
                     {% endif %}
                 </div>


            {% endif %}
        {% empty %}
            <p>No comments here yet.</p>

            {% endfor %}

            {% else %}
                    <a class="btn btn-default" href="{% url 'blog.views.post_publish' pk=post.pk %}">Publish</a><br>
            {% endif %}


{% endblock %}




